<!-- Toolbar -->

<div class="content" role="main">
  <!-- Highlight Card -->

  <!-- Resources -->

  <!-- Next Steps -->

  <!-- Terminal -->

  <!-- Links -->

  <!-- Footer -->
  <div style="text-align: center">
    <h2>Hey {{ title }}</h2>
    <h1>{{ message }}</h1>
  </div>
</div>
<!-- <app-test></app-test>
 -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-component-interaction (childEvent)="message=$event" [parentData]="name"></app-component-interaction>
 -->
<app-pipes> </app-pipes>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
